/* style.css */

body{
  background: #fff;
  color: #000; 
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  margin:0;
}

nav{
  display:inline;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
} 

h1{
  font-family: 'Roboto', sans-serif;
  color:  #41A3C0; 
  font-weight: bolder;
  font-size: 2em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
}

p{
  color: #8e9bac;
}

a { 
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
}

a:hover {
  text-decoration: none;
  color: rgb(225, 0, 152);
}

#logo{
  color: rgb(225, 0, 152);
  font-size: 35px;
  font-family: 'Pacifico', cursive;
}

#baseline h1 {
  color: white;
  font-size: 50px;
}

#baseline a {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  text-decoration: none;
}

<.feature,.defi{
  border: 1px solid #F2F2F2;
  background: #FAFAFA;
  margin: 15px;
  padding: 15px 0;
  text-align: center;
  width: 400px;
}

 #apropos{
  margin: 0 auto;
  width: 80%;
  display:flex ;
  flex-wrap: wrap;
  justify-content: center;

}
.feature{
  display: block;
  background: #D1DCF7;
  width: 100%;
  text-align: center;
}
#download{
  display: block;
  width: 100%;
  text-align: center;
}

nav li {
  margin: 10px;
  display:inline;
}

nav ul {
  float: left;
  margin-top: 25px;
}

#logo{
  color: #fff;
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  float: left;
  margin-left: 50px;
}

#baseline a:hover {
  position: relative;
  top:1px;
}

#welcome, #baseline{
  background: url(https://images.unsplash.com/photo-1460924089785-8467346e18ea?ixlib=rb-0.3.5…EyMDd9&s=6ea4fa2…&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px;
  color: white;
}

#welcome h4{
 font-size: 50px;
}

#defis{
  text-align: center;
}

